<phpunit colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Metrics Client Tests">
			<directory suffix="Test.php">./php/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./php/src</directory>
		</whitelist>
	</filter>
</phpunit>
